tidyup
use flake

layout conda

export ENVNAME=python


export_alias build 'clear && cd $(git rev-parse --show-toplevel) && python3 src/main.py'
export_alias run 'clear && cd $(git rev-parse --show-toplevel) && python3 src/main.py'

